/*----------------- General styles -----------------*/

body {
    margin: 0;
    background-color: #162025;
    font-family: Helvetica, Arial, sans-serif;
}

/*----------------- Colors -----------------*/

.head,
.footer {
    background-color: #1f2937;
}

.citation {
    background-color: #e5e7ebb0;
}

.information,
.invitation {
    background-color: #f9faf8;
}

.invitation-content {
    background-color: #3382f6;
}

.information,
.invitation,
.citation-content p {
    color: #1f2937;
}

button,
.intro-text-block b,
.invitation-content b {
    color: #f9faf8;
}

.header-links a,
.intro-text-block p,
.invitation-content p,
.footer {
    color: #e5e7eb;
}

/*----------------- Fonts and text decorations-----------------*/

.intro-text-block b {
    font-size: 48px;
    line-height: 0.9em;
}

.header-links a,
.intro-text-block p,
.info-box p,
.invitation-content,
.footer {
    font-size: 18px;
}

.information-content b {
    font-size: 28px;
}

.citation-content p {
    font-style: italic;
    font-weight: lighter;
    font-size: 26px;
}

.citation-content b {
    font-size: 20px;
}

a {
    text-decoration: none;
}

/*----------------- Buttons -----------------*/

button {
    height: 30px;
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 8px;
    background-color: #3382f6;
    font-weight: bolder;
}

.invitation-content button {
    border: 1px solid #f9faf8;
    margin-left: 20px;
}

/*----------------- Images -----------------*/

.header img,
.footer img {
    margin-right: 20px;
    height: 50px;
    width: auto;
}

.introduction img {
    height: 200px;
    width: auto;
}

.information img {
    height: 140px;
    width: auto;
    border: 3px solid#3382f6;
    border-radius: 10px;
}


/*----------------- Aligning elements on the page -----------------*/

/*-------------- Common size settings --------------*/
.body {
    margin: auto;
    height: 100vh;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.introduction,
.invitation-content {
    width: 750px;
}

.boxes,
.citation-content {
    width: 600px;
}

.header,
.footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.introduction {
    padding-top: 80px;
    padding-bottom: 80px;
}

.information,
.citation,
.invitation {
    padding-top: 40px;
    padding-bottom: 40px;
}



/*--------------Header block--------------*/

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 40px;
}

.introduction {
    display: flex;
}

.intro-text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-text-block p {
    margin: 0;
}

.intro-text-block button {
    margin-top: 10px;
}

/*--------------Information block--------------*/

.information {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.info-box {
    width: 140px;
    height: auto;
}

.info-box p {
    margin: 0em;
}

/*--------------Citation block--------------*/

.citation {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

.citation-content p {
    margin: 0em;
}

.citation-content b {
    display: flex;
    justify-content: right;
    margin: 0em;
}

/*--------------Invitation block--------------*/

.invitation {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

.invitation-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.invitation-content b,
.invitation-content p {
    margin: 0em;
}

/*--------------Footer--------------*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}